html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.982);
}

#gameFrame {
  display: flex;
  flex-wrap: wrap;

  width: 450px;
  height: 450px;
  position: absolute;
  top: 150px;
  border: none;
  border-radius: 10%;
  padding: 20px;

  background-color: black;
  box-shadow: 2px 2px 5px 2px cyan;
  z-index: 2;
}

.instruction {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  color: cyan;
  flex: 100%;
}

#output {
  text-align: center;
  height: auto;
  width: auto;
  flex: 100%;
  color: white;
}

input {
  width: 250px;
  height: 35px;
  text-align: center;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  flex: 100%;
}

.btn {
  width: 10%;
  height: 35px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 5px 2px rgb(91, 91, 91);
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  flex: 10%;
}

.btn:hover {
  background: rgb(0, 0, 0);
  color: white;
  box-shadow: 2px 2px 5px 2px rgba(85, 85, 85, 0.603);
}

.newBg {
  width: 100%;
}

.newBg::after {
  content: " ";
  z-index: 1;
  position: absolute;

  width: 100%;
  height: 100vh;
  animation: changeBg 5s ease-in-out 1;
}

@keyframes changeBg {
  0%,
  100% {
    background: white;
    left: 100%;
  }

  50% {
    background: url("./UnevenAbsoluteIaerismetalmark-max-1mb.gif");
    left: 0;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .container {
    width: auto;
    height: 100vh;
  }

  #gameFrame {
    display: flex;
    flex-wrap: wrap;

    width: auto;
    height: 450px;
  }

  #btn {
    width: 10%;
    height: 35px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 5px 2px black;
    font-size: 12px;

    margin-left: 10px;
    flex: 100%;
  }

  #btn2 {
    width: 10%;
    height: 35px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 5px 2px black;
    font-size: 12px;

    margin-left: 10px;
    flex: 100%;
  }
}
